body {
  min-height: 100vh;
}

body::before {
  content: "";
  background-image: url("../../vendors/images/stream-bg.jpg");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: bottom center;
  opacity: 0.035;
  z-index: -1;
}

.hero-container {
  color: $white;
  max-width: 110rem;
  margin: 2.5rem;

  .hero-content {
    @include phone {
      h3,
      h1 {
        text-align: center;
        margin: 0 auto;
      }
    }
  }

  .btn {
    margin-right: 2rem;

    @include phone {
      margin-top: 2rem;
      margin-right: 0;
      text-align: center;
    }

    @include small-phone {
      text-align: center;
    }
  }

  h1 {
    padding: 3rem 0;
  }

  h3 {
    font-weight: normal;
    font-size: 1.8rem;
    position: relative;
    line-height: 3.5rem;
    padding: 3rem 0;

    &::before {
      content: "";
      width: 15rem;
      height: 0.3rem;
      background-color: $white;
      position: absolute;
      top: 0;
      left: 0;

      @include phone {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    @include tablet {
      font-size: 1.4rem;
      line-height: 2.5rem;
    }

    @include phone {
      font-size: 1.3rem;
      line-height: 2.3rem;
    }
  }

  span.purple {
    color: $purple;
  }
}
