// Primary Colors

$green: #014e56;
$coral: #f67e7e;
$white: rgb(252, 241, 252);
$purple: rgb(175, 97, 175);

// Secondary Colors

$blue: #79c8c7;
$grey-blue: #2c6269;

// Dark Greens
$light-dark-green: #004047;
$md-dark-green: #012f34;
$black-dark-green: #002529;

// Font Family

$ff-primary: "Livvic", sans-serif;
