<h2>Search</h2>
<form action="">
  <input
    type="text"
    name="search"
    id="search"
    class="search-input"
    placeholder="Search for movies and shows..."
  />
</form>
<div class="results">
  <div class="result">
    <p class="text-sm">Name</p>
    <div class="platform-icons">
      <i class="fas fa-home"></i>
      <i class="fas fa-home"></i>
      <i class="fas fa-home"></i>
      <i class="fas fa-home"></i>
    </div>
    <div class="list-options">
      <i class="fas fa-add"></i>
      <i class="fas fa-minus"></i>
    </div>
  </div>
  <div class="result">
    <p class="text-sm">Name</p>
    <div class="platform-icons">
      <i class="fas fa-home"></i>
      <i class="fas fa-home"></i>
      <i class="fas fa-home"></i>
      <i class="fas fa-home"></i>
    </div>
    <div class="list-options">
      <i class="fas fa-add"></i>
      <i class="fas fa-minus"></i>
    </div>
  </div>
  <div class="result">
    <p class="text-sm">Name</p>
    <div class="platform-icons">
      <i class="fas fa-home"></i>
      <i class="fas fa-home"></i>
      <i class="fas fa-home"></i>
      <i class="fas fa-home"></i>
    </div>
    <div class="list-options">
      <i class="fas fa-add"></i>
      <i class="fas fa-minus"></i>
    </div>
  </div>
</div>
