{% load static %}

<nav class="dashboard-nav">
  <div class="logo">
    <a href="{% url 'showkase:render_dashboard' %}"
      ><h3 class="logo-text"><span></span><span></span></h3
    ></a>
  </div>
  <ul>
    <li>
      <a href="{% url 'showkase:render_profile' %}" title="edit profile">
        {% if user.profile.avatar %}
          <img src="{{user.profile.avatar.url}}" alt="" />
        {% else %}
          <i class="fas fa-question-circle"></i>
        {% endif %}
      </a>
    </li>
    <li>
      <a href="{% url 'showkase:render_dashboard' %}" title="dashboard"><i class="fas fa-tachometer"></i></a>
    </li>
    <li>
      <a href="" title="My Lists"><i class="fas fa-list-ul"></i></a>
    </li>
    <li>
      <a href="{% url 'showkase:user_logout' %}" title="Sign Out"
        ><i class="fas fa-sign-out"></i
      ></a>
    </li>
  </ul>
</nav>
