<div class="hero-container">
  <div class="hero-content">
    <h1 class="heading-lg">
      Find Your Favorite <span class="purple">Shows</span> and
      <span class="purple">Movies</span>
    </h1>
    <h3>
      Tired of trying to figure where the latest new show is streaming? Showkase
      allows you to sign into your dashboard and search 1000's of movies and
      shows to figure out where you can watch it.
    </h3>
  </div>
  <a href="{% url 'showkase:render_register' %}" class="btn btn-primary-white">Register Now</a>
  <a href="{% url 'showkase:render_login' %}" class="btn btn-primary-white">Login</a>
</div>
