{% load webpack_loader static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Showkase | Register</title>
    {% stylesheet_pack 'app' %}
  </head>
  <body>
    {% include 'showkase_app/partials/_nav.html' %}
    <!-- <h2>showkase</h2> -->
    <div class="container">
      <!-- <h2>showkase</h2> -->
      {% include 'showkase_app/partials/_register.html' %}
    </div>
    <!-- <h2>showkase</h2> -->
    {% javascript_pack 'app' 'app2' attrs='charset="UTF-8"' %}
  </body>
</html>
